.container {
  width: 432px;
  height: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: var(--badge-bg-orange);
  border: 2px dashed #ff8800;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.circle {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  gap: 10px;
  background-color: var(--bg-white);
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 36px;
  color: var(--brand-primary);
}

.textGroup {
  gap: 4px;
}

.title {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary);
}

.desc {
  font-size: 12px;
  line-height: 24px;
  color: var(--text-tertiary);
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
