.SearchBar {
  display: flex;
  align-items: center;
  width: 440px;
  height: 48px;
  border-radius: 8px;
  padding: 8px 12px;
  gap: 8px;
  background: var(--bg-searchba);
  box-shadow: 0 0 10px 1px var(--border-main);
}

.Icon {
  font-size: 16px;
  cursor: pointer;
  color: var(--text-labela); /* background → color로 수정 */
}

.Input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  font-weight: 500;
  color: var(--text-labela);
}
