.SearchBar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border-radius: 16px;
  padding: 8px 12px;
  gap: 8px;
  background: var(--bg-searchbar);
  min-height: 48px;
  height: 48px;
}

.Icon {
  font-size: 16px;
  cursor: pointer;
  color: var(--text-label);
}

.Input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  font-weight: 500;
  color: var(--text-label);
}

.Input::placeholder {
  color: var(--text-label);
  font-size: 16px;
  font-weight: 500;
}