.container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 480px;
	min-width: 300px;
	width: 100%;
}

.Root {
	position: relative;
	overflow: hidden;
	background: var(--bg-select);
	border-radius: 9999px;
	width: 100%;
	height: 12px;
	display: flex;
	align-items: center;
}

.Indicator {
	background-color: var(--brand-primary);
	height: 100%;
	transition: width 660ms cubic-bezier(0.65, 0, 0.35, 1);
}