.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--gray-900);
}

.Root {
	position: relative;
	overflow: hidden;
	background: var(--black-a9);
	border-radius: 99999px;
	width: 300px;
	height: 25px;
	margin: 20px auto;
	display: flex;
	align-items: center;
}

.Indicator {
	background-color: white;
	height: 100%;
	width: 13%;
	transition: width 660ms cubic-bezier(0.65, 0, 0.35, 1);
}
