.wrapper {
  width: 348px;
  height: 246px;
  border-radius: 16px;
  overflow: hidden;
  background: var(--bg-white);
  box-shadow: 0 0 10px 1px var(--border-main);
}

.header {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: var(--bg-white);
  font-size: 14px;
}

.title {
  font-weight: 600;
  color: var(--text-primary);
}

.distance {
  color: var(--text-placeholder);
  font-size: 12px;
}

.map {
  width: 100%;
  height: 250px;
}
