.background {
    background-color: var(--bg-primary);
}

.container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: flex-start;
    align-items: flex-start;
}


.header {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hello {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-label);
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-primary);
    line-height: 28px;
    letter-spacing: -0.6px;
}

.highlight {
    color: var(--brand-primary);
}

.content {
    width: 100%;
    display: flex;
    gap: 16px;
}

.groupListContainer {
    width: 100%;
    padding: 28px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 40px 40px 0px 0px;
    background-color: var(--bg-white);
}

.groupListTitle {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-primary);
    line-height: 24px;
    letter-spacing: -0.48px;
}

.groupList {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}