.container {
  width: 460px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 52px;
  padding: 0px 16px;
}

.left {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-secondary);
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 20px;
  border-radius: 20%;
  background-color: var(--badge-bg-orange);
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
  color: var(--brand-primary);
}

.picture {
  display: flex;
  gap: 12px;
  padding: 0 16px;
}

.imageBox {
  width: 96px;
  height: 96px;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--bg-textarea);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cancelIcon {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  gap: 10px;
  padding: 7px 7px;
  border-radius: 50%;
  opacity: 0.4;
  line-height: 16px;
  color: var(--bg-textarea);
  background: var(--text-label-strong);
  cursor: pointer;
}
