.container {
    padding: 16px;
    display: flex;
    gap: 20px;
    border-radius: 50px;
    border: 1px solid var(--border-main);
    min-width: 220px;
    width: 100%;
}

.icon {
    background: var(--badge-bg-blue);
    width: 40px;
    height: 40px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    color: var(--badge-label-blue);
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
}

.description {
    color: var(--text-primary);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}