.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  display: flex;
  gap: 16px;
  padding: 16px 12px 8px 0px;
}

.card img {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  object-fit: cover;
}

.textBox {
  display: flex;
  flex-direction: column;
  padding: 4px 0px;
  gap: 6px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-primary);
}

.desc {
  font-size: 14px;
  color: var(--text-label);
  line-height: 1.4;
}
