.container {
  width: 432px;
  height: 150px;

  padding: 16px;
  box-sizing: border-box;

  background-color: var(--bg-textarea);
  border-radius: 16px;

  border: 1px solid var(--border-main);
}

.container textarea {
  width: 100%;
  height: 100%;

  border: none;
  resize: none;
  outline: none;

  background-color: var(--bg-textarea);
  color: var(--text-tertiary);

  line-height: 24px;
  font-size: 16px;
}
