.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--bg-white);
  width: auto;
  max-width: 100%;
  border: 1px solid var(--border-main);
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 0px;
  position: relative;
}

.textWrapper {
  display: flex;
  gap: 4px;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.label {
  font-size: 12px;
  color: var(--text-label);
  line-height: 16px;
  font-weight: 600;
}

.iconWrapper {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  font-weight: 600;
}

/* 각 아이콘 색상 */
.icon-location {
  background-color: var(--badge-bg-orange);
  color: var(--badge-label-orange);
}

.icon-phone {
  background-color: var(--badge-bg-blue);
  color: var(--badge-label-blue);
}

.icon-hours {
  background-color: var(--badge-bg-emerald);
  color: var(--badge-label-emerald);
}

.text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-primary);
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}

.copyButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  color: var(--text-label-strong);
  flex-shrink: 0;
}
