.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 16px;
    border-radius: 16px;
    border: 1px solid var(--border-main);
    background-color: var(--bg-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    width: 100%;
    min-width: 280px;
}

.label {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: var(--text-label-strong);
}

.members {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

}


.addMember {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--bg-select);
    border: 2px dashed var(--border-main);
    cursor: pointer;
}