.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 24px;
}

.location {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title p:first-child {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--bg-black);
}

.title p:last-child {
  font-size: 11px;
  font-weight: 800;
  line-height: 30px;
  color: var(--text-label);
}

.desc {
  width: 100%;
}

.textarea {
  width: 100%;
  height: 620px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--border-main);
  background-color: var(--bg-textarea);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--text-tertiary);
  resize: none;
}

.picture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botNav {
  display: flex;
  justify-content: center;
  width: 100%;
}
