/* font */
@font-face {
    font-family: 'Jua';
    src: url('/fonts/jua-korean-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: 'Jua', sans-serif;
  }

/* input계열 강제 상속 */
input,
textarea,
button,
select {
  font-family: inherit;
}