/* font */
@font-face {
    font-family: 'Jua';
    src: url('../../public/fonts/jua-korean-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: 'Jua', sans-serif;
  }