.topNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0 12px;
  box-sizing: border-box;
  background-color: transparent;
}

.back {
  position: absolute;
  left:20px;
  font-size: 30px;
  color: #656565;
  cursor: pointer;
  user-select: none;
}

.title {
  font-size: 22px;
  color: #656565;
  font-weight: 400;
  text-align: center;
}

.right {
  position: absolute;
  top: 15px;
  right: 20px;
}
