.topNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0 12px;
  box-sizing: border-box;
  background-color: transparent;
}

.back {
  position: absolute;
  left: 20px;
  font-size: 30px;
  color: #656565;
  cursor: pointer;
  user-select: none;
  font-size: 60px;
}

.title {
  font-size: 22px;
  color: #656565;
  font-weight: 400;
  text-align: center;
}

.right {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer; /* 클릭 가능 표시 */
}

/* 네비게이션 메뉴 */
.navMenu {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}

.navMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navMenu li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navMenu li:hover {
  background-color: #f0f0f0;
}
