.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 24px;
  background-color: var(--bg-primary);
  overflow-y: auto;
}
.container::-webkit-scrollbar {
  display: none;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: var(--text-primary);
}

.buttonWrap {
  padding: 24px;
}
