.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.userInfoWrap {
    display: flex;
    gap: 12px;
}

.groupInfoWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-primary);
}

.imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 24px;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.imageOverlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.todayWeather {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--text-white);
}

.todayWeatherValue {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: var(--text-white);
}

.noticeContainer {
    display: flex;
    gap: 12px;
    width: 100%;
}


.shortcutContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.label {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-primary);
}

.shortcutList {
    display: flex;
    gap: 12px;
    width: 100%;
}


.guestbookContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.guestbookList {
    display: flex;
    gap: 12px;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.guestbookList::-webkit-scrollbar {
    display: none;
}