.container {
  min-height: 100vh;
  background-image: url("@/assets/main_bakground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  padding: 30px;
  margin-top: 40px;
  color: white;
}

.subtitle {
  font-size: 30px;
}

.title {
  font-size: 50px;
  margin-top: 4px;
}

.cards {
  display: flex;
  gap: 16px;
  margin-top: 450px;
}

.card {
  flex: 1;
  height: 200px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  padding: 10px;
  color: #ffb703;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 4px solid transparent;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
}

.cardText {
  margin-top: 8px;
  text-align: center;
  font-size: 25px;
  line-height: 30px ;
}

.icon {
  font-size: 50px;
}

.icon img{
    height:80px;
}

.cardHighlight {
  flex: 1;
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  color: #ff7a00;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 4px solid transparent;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
}

.cardTitle {
  font-size: 18px;
}

.car {
  font-size: 32px;
  margin-top: 8px;
}

.cardHighlight:hover ,
.card:hover{
  border-color: #ff7a00;
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(255, 122, 0, 0.3);
}