.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}

.box {
  padding: 24px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 172px;
  gap: 10px;
}

.nick {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--bg-black);
}

.email {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-label);
}

.input {
  width: 100%;
  gap: 26px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 24px;
}

.botNav {
  /*다시 수정 예정*/
}
