.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
  padding: 0px 24px 24px;
  overflow-y: auto;
}

.box::-webkit-scrollbar {
  display: none;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.nick {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--bg-black);
}

.email {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-label);
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 26px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 24px;
  margin-top: 42px;
}

.botNav {
  width: 100%;
}
