.container {
  width: 100%;
  height: 84px;
  gap: 8px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--bg-dark);
}

.input {
  width: 100%;
  gap: 10px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--bg-white);
  border: 2px solid var(--border-main);
}
