.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px 16px;
  background: rgba(255, 255, 255, 0.5); /*이거는 var()로 작성 안해도 되는건가?*/
  border-radius: 16px;
  border: 1px solid var(--border-main);
  box-sizing: border-box;
}

.label {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: var(--text-label);
}

.input {
  padding: 1px 0px 0px 0px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
}
.input::placeholder {
  color: #94a3b8;
}

.error {
  font-size: 12px;
  color: #ef4444;
  margin-top: 2px;
  padding-left: 16px;
  position: relative;
  top: -8px;
}
