.container {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 96px;
  height: 96px;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 4px solid var(--bg-primary);
}

.camera {
  position: absolute;
  bottom: 7px;
  right: 3px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--brand-primary);
  border: 2px solid var(--bg-primary);
}

.icon {
  font-size: 14px;
  line-height: 20px;
  color: var(--bg-primary);
}

.preview {
  position: absolute;
  inset: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 50%;
  object-fit: contain;
}
