.container {
    flex: 1;
    min-height: 0;
    width: 100%;
    padding: 24px;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.container::-webkit-scrollbar {
    display: none;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputLabel {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: -0.45px;
    color: var(--text-label-strong)
}

.inputField {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--border-main);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 20px 16px;
    background-color: var(--bg-white);
    width: 100%;
}

.payInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--border-main);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 20px 16px;
    background-color: var(--bg-white);
}

.titleWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-label);
    line-height: 20px;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-secondary);
}

.amountWrap {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    color: var(--brand-primary)
}

.buttonContainer {
    padding: 12px 24px;
}