.group {
  border-radius: 16px;
  box-shadow: 0 4px 12px var(--text-label);
  padding: 16px;
  background-color: var(--bg-white);
  width: 300px;
  cursor: pointer;
}
.group:hover {
  box-shadow: 0 6px 16px var(--text-label);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.batch {
  background-color: var(--text-tertiary);
  padding: 2px 6px;
  border-radius: 8px;
  font-size: 12px;
}

.participants {
  margin-left: auto;
  font-size: 12px;
  color: var(--text-tertiary);
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.description {
  font-size: 12px;
  color: var(--text-label-strong);
  margin-bottom: 8px;
}

.avatarGroup {
  position: relative;
  height: 32px;
}

.avatar,
.more {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
}

.more {
  background-color: var(--bg-searchbar);
  color: var(--text-primary);
}