.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: var(--text-primary);
}

.description {
  font-size: 16px;
  line-height: 22px;
  color: var(--text-secondary);
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoText {
  font-size: 12px;
  line-height: 20px;
  color: var(--text-secondary);
}

.buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
