.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0px 24px;
}

.content {
  gap: 8px;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 12px;
  background-color: var(--brand-primary);
}

.header h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 4px;
  color: var(--brand-primary);
}

.header p {
  line-height: 20px;
  color: var(--text-secondary);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 20px;
}

.footer p {
  color: var(--text-label);
}

.footer span {
  font-weight: 700;
  color: var(--brand-primary);
}
