  .wrapper {
    width: 100%;
    min-height: 100dvh;

    background-image: url('@/assets/LoadingPage.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .circle {
    width: 220px;
    height: 220px;
    position: relative;
    
    border-radius: 50%;
    border: 2px solid rgba(255, 140, 0, 0.2);
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle::after {
    content: "";
    position: absolute;
    inset: 0;

    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid var(--brand-primary);
    animation: rotate 2s linear infinite;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  .centerImage {
    width: 80px;
    height: auto;
    z-index: 1;
  }

  .title {
    color: var(--brand-primary);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 40px;
  }
  
  .subtitle {
    color: #ff8800b3;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
  }
