.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--bg-white);
  width: 280px;
}

.info {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: var(--text-label);
  font-weight: 500;
  margin-bottom: 4px;
}

.amount {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-primary);
}

.course {
  font-size: 14px;
  color: var(--text-tertiary);
  margin-top: 2px;
  font-weight: 500;
}

.amountCourse {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

