.container {
    height: 228px;
    width: 100%;
    max-width: 250px;
    min-width: 200px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid var(--border-main);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.create {
    background-color: var(--bg-white);
}

.container.join {
    background-color: var(--bg-dark);
}

.container.create:hover {
    border: 1px solid var(--brand-primary);
}

.container.join:hover {
    border: 1px solid var(--brand-primary);
}

.iconBox {
    height: 48px;
    width: 48px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.iconBox.create {
    background-color: var(--badge-bg-orange);
}

.iconBox.join {
    background-color: var(--bg-glassmorphism);
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
}

.content .label {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-tertiary);
}

.content .title {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary);
}

.content .title.create {
    color: var(--text-primary);
}

.content .title.join {
    color: var(--text-white);
}