/* 컨테이너 */
.OTPcontener {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.OTPGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

/* 라벨 영역 */
.labelContener {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.label {
  font-size: 16px;
  font-weight: bold;
  color: var(--bg-dark);
}

.OTPRoot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 입력창 */
.OTPInput {
  all: unset;
  box-sizing: border-box;

  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  border-radius: 16px;
  background-color: var(--bg-white);
  border: 2px solid var(--bg-searchbar);

  font-size: 24px;
  font-weight: bold;
  color: var(--text-primary);
  transition: all 0.2s ease;
  cursor: text;
}

.OTPInput:hover {
  border-color: var(--brand-primary);
}

.OTPInput:focus {
  border-color: var(--brand-primary);
  transform: translateY(-2px);
  outline: none;
}

@media (max-width: 448px) {
  .OTPInput {
    width: 42px;
    height: 42px;
    font-size: 16px;
    border-radius: 12px;
  }
}
