.bankBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;

    background-color: lightblue;
    border-radius: 22px;
}

.icon {
    width: 60px;
    height: 60px;
}
