.guestbookContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.guestbookList {
  display: flex;
  gap: 12px;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.guestbookList::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.label {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-primary);
}

.writeButton {
  font-size: 14px;
  font-weight: 700;
  color: var(--brand-primary);
  text-decoration: none;
}
