.container {
    min-width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid var(--border-main);
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.courseInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.courseType {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--text-primary);
}

.participants {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-tertiary);
}

.courseBadge {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseBadgeLabel {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}