.container {
  width: 100%;
  flex-shrink: 0;
  padding: 12px 16px;
  border-radius: 16px;
  border: 1px solid var(--border-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.container img {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.category {
  width: 48px;
  height: 48px;
  background-color: var(--border-main);
  color: var(--badge-label-orange);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.leftWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.titleWrap {
  max-width: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.title {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-primary);
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.date {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-label);
  font-weight: 300;
}

.rightWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4px;
}

.myPrice {
  width: 100%;
  background-color: var(--badge-bg-orange);
  color: var(--badge-label-orange);
  padding: 4px 8px;
  border-radius: 9999px;
  font-size: 8px;
  line-height: 16px;
  font-weight: 500;
}

.status {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-label);
  font-weight: 400;
}

.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-primary);
}
